/* General page styles */
body {
    margin: 0;
    font-family: 'poppins', sans-serif;
    background-color: #041f4c;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    transition: background-color 0.3s, color 0.3s;
    justify-content: flex-start;
    overflow-y: auto;
    padding-bottom: 50px;
    font-size: 12px;
}

#top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0; /* Remove gap */
}

#user-info {
    display: flex;
    align-items: center;
}

#avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

#controls {
    display: flex;
    align-items: center;
}

#upgrade-btn {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #028900;
    color: white;
    border: none;
    border-radius: 10px; /* Curved corners */
    display: flex;
    align-items: center;
}

#upgrade-btn i {
    margin-right: 10px; /* Space between icon and text */
}

.switch {
    position: relative;
    display: inline-block;
    width: 20px; /* Smaller width */
    height: 20px; /* Smaller height */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 50%; /* Make the slider a circle */
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px; /* Smaller inner circle */
    width: 14px; /* Smaller inner circle */
    left: 3px; /* Centered in the smaller slider */
    bottom: 3px; /* Centered in the smaller slider */
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2C3A4D;
}

input:checked + .slider:before {
    transform: translateX(6px); /* Adjust the translate distance */
}

#coin-balance {
    font-size: 30px;
    margin: 20px 5px 0;
    color: white; /* Light theme color */
    padding: 0;
}

#mine-btn #level {
    text-align: right;
    align-self: right;
}
#status-message {
    font-size: 12px;
    margin-bottom: 20px;
    margin: 0;
    padding: 0;
}

#sound-wave-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 60px;
    margin-bottom: 20px;
    width: 40%;
    padding: 3.3em;
    padding-top: 5em;
    padding-bottom: 0;
}

.bar {
    width: 5%;
    height: 20px;
    background-color: #000;
    margin: 0 2px;
    animation: soundWave 2s infinite;
    transform-origin: bottom;
}

.bar:nth-child(1) { background-color: #e74c3c; animation-delay: 0s; }
.bar:nth-child(2) { background-color: #e67e22; animation-delay: 0.2s; }
.bar:nth-child(3) { background-color: #f1c40f; animation-delay: 0.4s; }
.bar:nth-child(4) { background-color: #2ecc71; animation-delay: 0.6s; }
.bar:nth-child(5) { background-color: #1abc9c; animation-delay: 0.8s; }
.bar:nth-child(6) { background-color: #3498db; animation-delay: 1s; }
.bar:nth-child(7) { background-color: #9b59b6; animation-delay: 1.2s; }
.bar:nth-child(8) { background-color: #34495e; animation-delay: 1.4s; }
.bar:nth-child(9) { background-color: #16a085; animation-delay: 1.6s; }
.bar:nth-child(10) { background-color: #27ae60; animation-delay: 1.8s; }

@keyframes soundWave {
    0% { transform: scaleY(1); }
    25% { transform: scaleY(3); }
    50% { transform: scaleY(1.5); }
    75% { transform: scaleY(2.5); }
    100% { transform: scaleY(1); }
}

#mine-btn {
    padding: 15px 30px;
    font-size: 15px;
    text-align: center;
    background-color: #028900;
    color: white;
    border: none;
    width: 80%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 60px; /* Adjust this value if needed */
    position: relative;
    overflow: hidden;
    display: flex;
  justify-content: space-between;
  align-items: center;
}

#mine-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#mine-btn.loading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    animation: loadingBar 7200s linear forwards; /* 2 hours (7200 seconds) */
}

#timer {
  padding-bottom: 0;
  color: #028900;
  font-size: 12px;
}
#timer-text {
  font-size: 12px;
}

#mining-session-count {
  margin-top: 0;
}
p {
  font-size: 15px;
}
/* Add styles for the bottom navigation menu */
#bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  background: rgba(44, 58, 77, 0.8);
  backdrop-filter: blur(10px);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: 1px solid #444;
  z-index: 1000;
}

#bottom-nav .nav-item {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  color: lightgray;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

#bottom-nav .nav-item img {
  display: block;
  margin: 0 auto 5px;
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(0.8); /* This makes the icon light gray */
  fill: lightgray; /* Ensure fill property is set to light gray */
}

#bottom-nav .nav-item span {
  display: block;
  font-size: 9px;
  color: lightgray;
}

#bottom-nav .nav-item.active img {
  filter: none; /* This resets the filter to show the original icon color */
  fill: blue; /* Change fill color to blue for active icon */
}

#bottom-nav .nav-item.active span {
  color: #028900;
}

/* Slideshow Container */
#slideshow-container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    margin-top: 0; /* Remove gap */
    padding-bottom: 0;
    margin-bottom: 0;
    height: 20%;
}

.slide {
    display: none;
    flex: 0 0 100%; /* Ensure each slide takes full width */
    transition: transform 1s ease;
    
}

.slide img, .slide video {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    border-radius: 20px;
}

/* Add active class to the first slide */
.slide.active {
    display: block;
    transform: translateX(0%);
}

/* Hidden button */
.hidden {
  display: none;
}

/* Styles for Cherry System */
#cherry-system {
    position: fixed;
    top: 18px;
    left: 15px;
    width: 40px;
    height: 40px;
    z-index: 1000;
}

#cherry-logo {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer; /* Added cursor pointer */
}

#cherry-logo img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}

#cherry-logo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid rgba(0, 255, 0, 1);
    border-radius: 50%;
    box-sizing: border-box;
    animation: beam 1s infinite;
}

@keyframes beam {
    0% {
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.6);
        transform: scale(1);
    }
    50% {
        box-shadow: 0 0 30px rgba(0, 255, 0, 1);
        transform: scale(1.5);
    }
    100% {
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.6);
        transform: scale(1);
    }
}

/* Add this to styles.css */

/* Modal styles */
.cherry-modal {
    display: none; 
    position: fixed; 
    z-index: 1001; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: hidden;
    padding-bottom: 0;
    background-color: rgba(44,58,77,0.627);
    
    
}

.cherry-modal {
    color: #fff;
    font-size: 10px;
}

.cherry-modal-content {
    background-color: rgb(44,58,77);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #0b0e14;
    width: 80%; 
    height: 80%;
    overflow-y: auto;
    border-radius: 30px;
    text-align: left;
    transform: scale(0);
    animation: spreadOut 0.8s forwards; /* Add animation */
}
#cherry-message a {
    color: #20c3f4;
}
#cherry-message p, #cherry-message button {
    font-size: 10px;
}

#cherry-message {
    font-size: 12px;
}
#cherry-message button {
    
    margin-bottom: 0;
}
#cherry-message #report-issue,
#whats-new,
#community {
   margin-top: 0px;
}
@keyframes spreadOut {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.cherry-close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.cherry-close:hover,
.cherry-close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#no-thanks {
   background-color: gray;
   margin: 5px;
   padding: 5px;
   border: none;
   border-radius: 10px; 
   color: white;
   width: 100px;
}
#yes-please {
  background-color: green;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 10px; 
  color: white;
  width: 100px;
}
#continue {
  background-color: green;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 10px; 
  color: white;
  width: 100px;
}
#start {
  background-color: green;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 10px; 
  color: white;
  width: 100px;
}
#end-tour {
   background-color: gray;
   margin: 5px;
   padding: 5px;
   border: none;
   border-radius: 10px; 
   color: white;
   width: 100px;
}
b {
  font-size: 1.5em;
}
#learn-more,
#read-whitepaper,
#report-issue,
#whats-new,
#community {
  background-color: green;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 10px; 
  color: white;
  width: 100px;
}
#learn-more:hover,
#read-whitepaper:hover,
#report-issue:hover,
#whats-new:hover,
#community:hover {
    background: #0854087a;
    text-decoration: none;
    cursor: pointer;
}

